{% extends "base.html" %}
{% block title %}Мероприятия{% endblock title %}
{% block content %}
    <div class="container">
        {% if all_events or parsed_events %}
        <div class="row"> 
            <!-- Обычные мероприятия -->
            {% for event in all_events %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if event.img %}
                        <img src="{{event.img.url }}" class="card-img-top" alt="{{ event.name }}" style="height: 200px; object-fit: cover;">
                    {% else %}
                        <img src="/media/image/no_image.jpg" class="card-img-top" alt="{{ event.name }}" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            {{event.name}}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{event.date_time|date:"d.m.Y H:i"}}
                        </h6>
                        <p class="card-text">
                            {{event.description|truncatechars:150}}
                        </p>
                        <div class="mb-2">
                            <small class="text-muted">
                                <i class="fas fa-map-marker-alt"></i>
                                {{event.location}}
                            </small>
                        </div>
                        <div class="mb-2">
                            <small class="text-muted">
                                <i class="fas fa-users"></i>
                                Макс. участников: {{ event.max_participants }}
                            </small>
                        </div>
                        <div class="event-card">
                            <div class="rating-badge">
                                <i class="fas fa-heart"></i> <span>{{ event.rating }} баллов</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">
                                Создано: {{ event.created_at|date:"d.m.Y" }}
                            </small>
                            <a href="{% url 'event_detail' event_id=event.id %}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="col-md-12">
            <p class="lead">
                Скоро здесь будут мероприятия!
            </p>
        </div>
        {% endif %}
    </div>
{% endblock content %}