{% extends 'base.html' %}
{% block title %}Подробнее о мероприятие{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if event.image_url %}
                    <img src="{{ event.image_url }}" class="img-fluid rounded mb-3 product-image" alt="{{event.title}}">
                {% else %}
                    <img src="/media/image/no_image.jpg" class="img-fluid rounded mb-3 product-image" alt="{{event.title}}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2 class="mb-3">{{event.title}}567</h2>
                <p class="text-muted mb-4">МПГУ</p>
                <div class="mb-3">
                    <span class="h4 me-2">
                        {% if event.date_at %}
                            {{ event.date_at|date:"d E Y, H:i" }}
                        {% else %}
                            Дата уточняется
                        {% endif %}
                    </span>
                </div>
                {% if event.excerpt %}
                    <p class="mb-4">{{event.excerpt}}</p>
                {% elif event.content_plain %}
                    <p class="mb-4">{{event.content_plain|truncatechars:500}}</p>
                {% endif %}
                
                {% if event.content %}
                    <div class="mb-4">
                        {{ event.content|safe }}
                    </div>
                {% endif %}
                
                <form method="post" action="{% url 'join_parsed_event' event.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-info btn-lg mb-3 me-2">
                        <i class="bi bi-heart"></i> Записаться
                    </button>
                </form>
                
                {% if event.source_url %}
                <a href="{{ event.source_url }}" target="_blank" class="btn btn-outline-secondary btn-lg mb-3">
                    Открыть на сайте МПГУ
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
